<!DOCTYPE html>

<html lang="en">
  <head>
    <title i18n="@@pageTitle">HTML Sample File</title>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&amp;subset=korean"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="app.component.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
  </head>

  <body>
    <div class="header">
      <h1 i18n="@@titleText">Crowdin HTML Sample "{{ title }}"</h1>
      <p i18n="@@responsiveText">
        A <b>responsive</b> website created for testing purposes.
      </p>
      <p i18n="@@varSelectText">
        {VAR_SELECT, select, PERSONAL {My profiles} BUSINESS {Preferred
        profiles} other {My profiles}}
      </p>

      <p i18n="@@interpolationText">
        Profile <x id="INTERPOLATION" equiv-text="{{ profile.name }}" /> Profile
        ID
        <x id="INTERPOLATION_1" equiv-text="{{ profile.fullyFormattedID }}" />
        Balance <x id="INTERPOLATION_2" equiv-text="{{ profile.balance }}" />
      </p>
      <button (click)="showLocalizedMessage()">{{ buttonText }}</button>
      <p *ngIf="localizedMessage">{{ localizedMessage }}</p>
    </div>

    <div class="navbar">
      <a href="#" class="active" i18n="@@homeLink">Home</a>
      <a href="#" i18n="@@servicesLink">Services</a>
      <a href="#" i18n="@@aboutUsLink">About us</a>
      <a href="#" class="right" i18n="@@contactUsLink">Contact us</a>
    </div>

    <div class="row">
      <div class="side">
        <h2 i18n="@@aboutUsHeader">About us</h2>
        <h5 i18n="@@meetOurTeamHeader">Meet our team</h5>
        <div class="fakeimg" style="height: 200px" i18n="@@imageText">
          Image
        </div>
        <p i18n="@@companyDescription">
          Our company is diverse in every meaning of this word. We have teams
          with different expertise to set you up with the right experts
          depending on your business goals.
        </p>
        <h3 i18n="@@marketingPassionHeader">Marketing is our passion</h3>
        <p i18n="@@approachDescription">
          Here's how we approach each new project
        </p>
        <div class="fakeimg" style="height: 60px" i18n="@@imageText">Image</div>
        <br />
        <div class="fakeimg" style="height: 60px" i18n="@@imageText">Image</div>
        <br />
        <div class="fakeimg" style="height: 60px" i18n="@@imageText">Image</div>
      </div>
      <div class="main">
        <h2 i18n="@@marketingSolutionsHeader">
          Marketing solutions for your business
        </h2>
        <h5 i18n="@@productDifferenceHeader">
          We help great products make a difference in their niche.
        </h5>
        <div class="fakeimg" style="height: 200px" i18n="@@imageText">
          Image
        </div>

        <p i18n="@@marketingGoalsDescription">
          We work with companies across different industries to achieve their
          marketing goals via various activities, including but not limited to
          product and website launches, branding, advertising, communications,
          media coverage, and social media presence.
        </p>
        <br />
        <h2 i18n="@@businessGrowthHeader">
          Strategies to fuel your business growth
        </h2>
        <h5 i18n="@@strategySelectionHeader">
          Select the best strategy for your business
        </h5>
        <div class="fakeimg" style="height: 200px" i18n="@@imageText">
          Image
        </div>

        <p i18n="@@strategyDescription">
          It is crucial to go with the right marketing strategy, so we do our
          best to guide you in the right direction. Depending on your business
          purposes, we can develop a plan and implement it to acquire, engage,
          and retain your customers. Our services are flexible, so we can work
          on a project basis, provide consulting, or find a custom solution for
          your business.
        </p>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <div class="clearfix">
          <div class="float-left">
            <ul class="text-left list-inline">
              <li class="list-inline-item" i18n="@@footerCopyright">
                © 2021 Crowdin
              </li>
              <li class="list-inline-item">
                <a
                  class="crowdin-footer__bottom__link"
                  href="https://crowdin.com/contacts"
                  i18n="@@footerContactLink"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <div class="float-right d-none d-sm-block">
            <form
              class="navbar-form ml-auto"
              action="/search/"
              method="get"
              style="margin: 1rem 0"
            >
              <div class="form-group mb-0 search-input-holder">
                <input
                  required=""
                  class="form-control"
                  name="q"
                  placeholder="Search"
                  style="height: 2.2rem; padding: 0.1rem 1rem"
                  i18n-placeholder="@@searchPlaceholder"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
